#container {
  bottom: 30px;
  box-sizing: border-box;
  font-size: 0;
  height:800px;
  margin:auto;
  padding: 0;
	position: relative;
	top: 30px;
	width:800px;
}

.grid {
  height: 10px;
  width: 10px;
  box-sizing: border-box;
  display:inline-block;
	margin:0;
  outline:1px solid gray;
	padding:0;
}

.footer {
  float: left;
  margin-right: 50px;
  margin-top: 40px;
}
